header  [class^="icon-"]:after {
    font-family: icon-font;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    --icon-color: #fff;
    color: #000;
    background-color: #fff;
}


header .icon-hamburger:after {
    content: "\f139";
}

header .icon-close:after {
    content: "\f112";
}

header .nav-close {
    display: none;
}

header .nav-close.menu-open {
    display: block;
}

header .nav-hamburger.menu-open {
    display: none;
}

header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 16px;
}

header nav .nav-brand {
    width: 80%;

}

header nav .nav-mobile-handle{
    width: 20%;
}
header .menu-wrapper {
    display:none;
}
header .menu-wrapper.menu-open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    height: calc(100vh - 50px);
    overflow-y: auto;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 200;
}

header .menu-wrapper .top-menu {
    padding-top: 24px;
    padding-left: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #f2f2f4;
}

header .menu-wrapper .top-menu ul {
    list-style: none;
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 16px;
    padding: 4px;
    font-size: 24px;
    font-weight: 450;
    line-height: 26px;
    letter-spacing: 0;
    text-transform: none;
}

header .menu-wrapper .top-menu > ul > li {
    display: inline-flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    margin: 0;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    background: none;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    user-select: none;
    display: flex;
    /*justify-content: space-between;*/
    align-content: start;
    width: 100%;
    outline: none;
    text-decoration: none;
    color: #363636;
    background: #fff;
    padding: 16px;
}
header .menu-wrapper .top-menu ul li .icon-briefcase:after {
    content: "\f10b";
    padding-right: 2px;
}

header .menu-wrapper .top-menu ul li .icon-login:after {
    content: "\f11b";
    padding-right: 2px;
}

header .menu-wrapper .top-menu > ul > li > a {
    text-decoration: none;
    color: #363636;
    text-transform: capitalize;
}

header .menu-wrapper .primary-menu {
    padding: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #f2f2f4;
}

header .menu-wrapper .primary-menu > ul{
    list-style: none;
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0;
    text-transform: none;
    padding: 4px;
}

header .menu-wrapper .primary-menu > ul > li{

    position: relative;
    margin: 0;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    background: none;
    cursor: pointer;
    overflow: hidden;
    text-align: left;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-content: start;
    width: 100%;
    outline: none;
    text-decoration: none;
    color: var(--nav-item-text-color, #363636);
    background: var(--nav-item-background-color, #fff);
    padding: 4px;
    flex-direction: column;
    padding-left: 0;
    z-index: 2;
}
header .menu-wrapper .primary-menu > ul > li > .nav-icons {
    display: none;
}

header .menu-wrapper .primary-menu > ul > li > .nav-icons > .icon-arrow-up {
    display: none;
}

header .menu-wrapper .primary-menu > ul > li > .nav-icons > .icon-arrow-down {
    display: block;
}
header .menu-wrapper .primary-menu > ul > li > .nav-icons > .icon-arrow-down:after {
    content: "\f115";
}
header .menu-wrapper .primary-menu > ul > li.show > .nav-icons > .icon-arrow-up {
    display: block;
}

header .menu-wrapper .primary-menu > ul > li.show > .nav-icons > .icon-arrow-up:after {
    content: "\f114";
}

header .menu-wrapper .primary-menu > ul > li.show > .nav-icons > .icon-arrow-down {
    display: none;
}



header .menu-wrapper .primary-menu > ul > li > ul {
    display: none;
    transition: opacity .3s, max-height .3s, padding-left .3s, padding-top .3s, padding-bottom .3s;
    opacity: 1;
    max-height: 500px;
    overflow: hidden;

    transition: opacity .3s, max-height .3s, padding-left .3s, padding-top .3s, padding-bottom .3s;
    opacity: 1;
    max-height: 500px;
    overflow: hidden;

    transition: max-height .3s linear;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    left: 0;
    min-width: 100%;
    width: max-content;
    z-index: 3;
}
header .menu-wrapper .primary-menu > ul > li.show > ul {
    display: block;

}

header .menu-wrapper .primary-menu > ul > li > ul > li {
    font-size: 16px;
    font-weight: 450;
    line-height: 24px;
    letter-spacing: 0;
    text-transform: none;
    background-color: #fff;
    display: flex;
    list-style: none;
    transition: all .3s ease-in-out;
    outline: none;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

header .menu-wrapper .primary-menu > ul > li > ul > li > a {
    width: 100%;
    display: flex;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: #363636;
    text-align: left;

}

header .menu-wrapper .primary-menu > ul > li > a {
    display: none;
}



@media (width >= 768px) {

    header .nav-wrapper nav {
        max-width: 1400px;
        margin: 0 auto;
        width: 100%;
        box-sizing: content-box;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 0px;
        flex-wrap: nowrap;
    }
    .nav-hamburger {
        display: none;
    }

    header nav .nav-mobile-handle{
        width: 0%;
        display: none;
    }

    header .nav-wrapper a.nav-brand {
        width: 100px;
        padding-top: 26px;
        padding-bottom: 16px;
    }

    header .nav-wrapper a.nav-brand img{
        width: 100%;
        height: 42px;
        padding-top: 32px;
        padding-bottom: 16px;
    }

    header .menu-wrapper .top-menu {
        padding-top: 0px;
        padding-left: 0px;
        width: unset;
        display: block;
    }

    header .menu-wrapper {
        display: flex;
        flex-direction: column;
        border-top: 0;
        position: static;
        background: none;
        align-items: flex-end;
        padding: 0;
        height: auto;
        overflow: visible;
        margin-left: 0px;
    }

    header .menu-wrapper .primary-menu {
        padding: 0;
        width: unset;
        display: block;
        border-top: 0 solid #f2f2f4;
    }

    header .menu-wrapper .primary-menu > ul {
        display: flex;
        /*flex-direction: row;*/
        /*width: 100%;*/
        /*gap:35px;*/
        justify-content: space-between;
        border-top: none;
        margin: 12px 0 8px;
        border-top: none;
        flex-direction: row;
        padding: 0;
        /*width: unset;*/
        align-items: baseline;
    }
    header .menu-wrapper .primary-menu > ul > li {
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0;
        text-transform: none;
        /*margin-right: 24px;*/
        /*width: auto;*/

        position: relative;
        flex-direction: column;
        align-items: left;
        margin: 0;
        border: 0 none;
        border-radius: 0;
        box-shadow: none;
        background: none;
        cursor: pointer;
        overflow: visible;
        text-align: center;
        user-select: none;
        display: flex;
        justify-content: space-between;
        align-content: start;
        width: 100%;
        outline: none;
        text-decoration: none;
        color: #363636;
        /*background: #fff;*/
        padding: 0px;
        margin: 0px;
        z-index: 2;
        white-space: break-spaces;
    }

    /*header .menu-wrapper .primary-menu > ul > li:hover {*/
    /*  text-decoration: underline;*/
    /*  text-decoration-color: #ffdb00;*/
    /*  text-decoration-thickness: 3px;      !* Sets underline thickness *!*/
    /*  text-underline-offset: 2px; !* Sets the underline color to yellow on hover *!*/
    /*}*/
    header .menu-wrapper .primary-menu > ul > li > .nav-icons {
        display: none;
    }

    header .menu-wrapper .primary-menu > ul > li.show > .nav-icons {
        display: none;
    }
    header .menu-wrapper .primary-menu > ul > li > a {
        border-radius: 8px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        transition: all .3s ease-in-out;
        cursor: pointer;
        box-sizing: border-box;
        width: max-content;
        position: relative;

        letter-spacing: 0;
        text-transform: none;
        flex-shrink: 0;

        background-color: var(--button-background-or-border-color, #ffdb00);
        color: var(--button-text-color, #363636);
        fill: var(--button-text-color, #363636);

        margin-left: 24px;

        padding: 8px 16px;
        font-size: 23px;
        font-weight: 450;
        line-height: 26px;
    }

    header .menu-wrapper .primary-menu > ul > li > ul {
        transition: max-height .3s linear;
        overflow: hidden;
        list-style: none;
        left: 0;
        width: max-content;
        z-index: 3;
        min-width: calc(100% + 16px);
        position: absolute;
        margin-left: -8px;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 15px 20px #0000001a;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    header .menu-wrapper .primary-menu > ul > li > ul {
        transition: max-height .3s linear;
        overflow: hidden;
        list-style: none;
        /*left: 0;*/
        width: max-content;
        z-index: 3;
        min-width: calc(100% + 16px);
        position: absolute;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 15px 20px #0000001a;

        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        padding-left: 4px;
        margin-left: 3px;
        margin-top: 30px;
        display: none;
        background-color: #fff;
    }

    header .menu-wrapper .primary-menu > ul > li.show ul {
        display: flex;
    }

    header .menu-wrapper .primary-menu > ul > li > ul > li {
        font-size: 25px;
        font-weight: 400;
        line-height: 28px;
        text-decoration: none;
        color: #363636;
        background: #fff;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .header .menu-wrapper .primary-menu > ul > li > ul > li:hover{
        background-color: #e8f2f1;
    }


    header .menu-wrapper .primary-menu > ul > li > ul > li > a{
        text-decoration: none;
        color: #363636;

    }


    header .menu-wrapper .top-menu ul {
        display: flex;
        flex-direction: row;
        /*width: 100%;*/
        gap:20px;
        padding: 0;
        width: unset;
    }

    header .menu-wrapper .top-menu ul li{
        font-size: 16px;
        font-weight: 450;
        line-height: 20px;
        letter-spacing: 0;

        width: auto;


        position: relative;
        flex-direction: row;

        margin: 0;
        border: 0 none;
        border-radius: 0;
        box-shadow: none;
        cursor: pointer;
        overflow: hidden;
        text-align: center;
        user-select: none;
        display: flex;
        justify-content: space-between;
        align-content: start;
        outline: none;
        text-decoration: none;
        color: var(--nav-item-text-color, #363636);
        background: var(--nav-item-background-color, #fff);
        padding: 4px;

        z-index: 2;


        align-items: center;

        text-transform: capitalize;
        white-space: nowrap;

    }

    .top-menu ul li  a {
        text-transform: none;
        color: var(--nav-item-text-color, #363636);

    }
}

@media (width >= 1024px) {

    header .nav-wrapper nav {
        max-width: 1400px;
        margin: 0 auto;
        width: calc(100% - 128px);
        box-sizing: content-box;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 0px;
    }
    .nav-hamburger {
        display: none;
    }

    header nav .nav-mobile-handle{
        width: 0%;
        display: none;
    }

    header .nav-wrapper a.nav-brand {
        width: 172px;
        padding-top: 26px;
        padding-bottom: 16px;
    }

    header .nav-wrapper a.nav-brand img{
        width: 100%;
        height: 42px;
        padding-top: 32px;
        padding-bottom: 16px;
    }

    header .menu-wrapper .top-menu {
        padding-top: 0px;
        padding-left: 0px;
        width: unset;
        display: block;
    }

    header .menu-wrapper {
        display: flex;
        flex-direction: column;
        border-top: 0;
        position: static;
        background: none;
        align-items: flex-end;
        padding: 0;
        height: auto;
        overflow: visible;
    }

    header .menu-wrapper .primary-menu {
        padding: 0;
        width: unset;
        display: block;
        border-top: 0 solid #f2f2f4;
    }

    header .menu-wrapper .primary-menu > ul {
        display: flex;
        /*flex-direction: row;*/
        /*width: 100%;*/
        gap:35px;
        justify-content: space-between;
        border-top: none;
        margin: 0px 0 8px;
        border-top: none;
        flex-direction: row;
        padding: 0;
        /*width: unset;*/
        align-items: center;
    }
    header .menu-wrapper .primary-menu > ul > li {
        font-size: 25px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0;
        text-transform: none;
        /*margin-right: 24px;*/
        /*width: auto;*/

        position: relative;
        flex-direction: column;
        align-items: left;
        margin: 0;
        border: 0 none;
        border-radius: 0;
        box-shadow: none;
        background: none;
        cursor: pointer;
        overflow: visible;
        text-align: center;
        user-select: none;
        display: flex;
        justify-content: space-between;
        align-content: start;
        width: 100%;
        outline: none;
        text-decoration: none;
        color: #363636;
        background: #fff;
        padding: 4px;
        z-index: 2;
        white-space: nowrap;
    }

    header .menu-wrapper .primary-menu > ul > li:hover {
        text-decoration: underline;
        text-decoration-color: #ffdb00;
        text-decoration-thickness: 3px;      /* Sets underline thickness */
        text-underline-offset: 2px; /* Sets the underline color to yellow on hover */
    }

    header .menu-wrapper .primary-menu > ul > li > a {
        border-radius: 8px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        transition: all .3s ease-in-out;
        cursor: pointer;
        box-sizing: border-box;
        width: max-content;
        position: relative;

        letter-spacing: 0;
        text-transform: none;
        flex-shrink: 0;

        background-color: var(--button-background-or-border-color, #ffdb00);
        color: var(--button-text-color, #363636);
        fill: var(--button-text-color, #363636);

        margin-left: 24px;

        padding: 8px 16px;
        font-size: 23px;
        font-weight: 450;
        line-height: 26px;
    }

    header .menu-wrapper .primary-menu > ul > li > ul {
        transition: max-height .3s linear;
        overflow: hidden;
        list-style: none;
        left: 0;
        width: max-content;
        z-index: 3;
        min-width: calc(100% + 16px);
        position: absolute;
        margin-left: -8px;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 15px 20px #0000001a;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    header .menu-wrapper .primary-menu > ul > li > ul {
        transition: max-height .3s linear;
        overflow: hidden;
        list-style: none;
        /*left: 0;*/
        width: max-content;
        z-index: 3;
        min-width: calc(100% + 16px);
        position: absolute;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 15px 20px #0000001a;

        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        padding-left: 4px;
        margin-left: 3px;
        margin-top: 45px;
        display: none;
        background-color: #fff;
    }

    header .menu-wrapper .primary-menu > ul > li.show ul {
        display: flex;
    }

    header .menu-wrapper .primary-menu > ul > li > ul > li {
        font-size: 25px;
        font-weight: 400;
        line-height: 28px;
        text-decoration: none;
        color: #363636;
        background: #fff;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .header .menu-wrapper .primary-menu > ul > li > ul > li:hover{
        background-color: #e8f2f1;
    }


    header .menu-wrapper .primary-menu > ul > li > ul > li > a{
        text-decoration: none;
        color: #363636;

    }


    header .menu-wrapper .top-menu ul {
        display: flex;
        flex-direction: row;
        /*width: 100%;*/
        gap:20px;
        padding: 0;
        width: unset;
    }

    header .menu-wrapper .top-menu ul li{
        font-size: 16px;
        font-weight: 450;
        line-height: 20px;
        letter-spacing: 0;

        width: auto;


        position: relative;
        flex-direction: row;

        margin: 0;
        border: 0 none;
        border-radius: 0;
        box-shadow: none;
        cursor: pointer;
        overflow: hidden;
        text-align: center;
        user-select: none;
        display: flex;
        justify-content: space-between;
        align-content: start;
        outline: none;
        text-decoration: none;
        color: var(--nav-item-text-color, #363636);
        background: var(--nav-item-background-color, #fff);
        padding: 4px;

        z-index: 2;


        align-items: center;

        text-transform: capitalize;
        white-space: nowrap;

    }

    .top-menu ul li  a {
        text-transform: none;
        color: var(--nav-item-text-color, #363636);

    }
}